@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&family=Ubuntu:wght@500;700&family=Work+Sans:wght@300;400;700;900&display=swap');@import "tailwindcss/base";
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

*{
    @apply m-0 p-0 box-border;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.tutor_container{
    @apply w-[95%] h-[800px] bg-bg-dark mx-auto my-0 flex;
    border:2px solid yellow;
}
 .tutor_profile{
    @apply w-[40%] bg-bg-light flex flex-col items-center;
}

.tutor_head{
  @apply h-[400px] w-[80%] flex flex-col items-center p-10 relative ;
}
.tutor_head img{
    @apply h-[320px] w-[320px] rounded-full;
    border : 5px solid goldenrod;
}
.tutor_head button{
    @apply absolute text-white text-4xl font-bold
     bg-bg-active w-[60px] h-[60px] rounded-full top-[75%] left-[63%];
     border: 2px solid blueviolet;
}
.tutor_head button:hover{
    @apply bg-blue-400;
}
.tutor_body{
    @apply h-[400px] flex flex-col items-start px-10;
}
.tutor_body input {
    @apply h-[50px] rounded-lg bg-transparent text-white text-xl my-3 px-3 py-4;
    border: 2px solid white;
}

.tutor_control{
    @apply h-[100px] flex items-center justify-center rounded-lg;
    
}
.tutor_control button {
    @apply h-[70px]  bg-bg-active hover:bg-blue-400 text-xl font-bold text-white;
}
.tutor_control button:first-child {
    @apply  rounded-l-lg;
    border-right: 1px solid black;

}
.tutor_control button:last-child{
    @apply rounded-r-lg;

}
.tuition_requests{
    @apply w-[60%] flex flex-col items-center py-8 px-5;
}
.tuition_requests h1{
    @apply text-white text-[4rem];
    border-bottom: 3px solid blueviolet;
}
.tuition_request{
    @apply bg-white h-[650px] mt-10 rounded-lg shadow-lg flex flex-row
     justify-center relative flex-wrap overflow-y-scroll ;
}  
